<% layout('layout/boilerplate')%>

<div class="row mb-3">
	<div class="col-8">
		<div class="card">
			<img src="<%= campground.image %>" alt="" class="card-img-top" />
			<div class="card-body">
				<h5 class="card-title"><%= campground.title %></h5>
				<p class="card-text"><%= campground.description %></p>
				<p class="card-text text-muted"><%= campground.location %></p>
				<p class="card-text text-muted">$<%= campground.price %> / Night</p>
			</div>

			<div class="list-group list-group-flush">
				<li class="list-group-item">
					<div class="row justify-content-evenly">
						<a
							class="btn btn-warning col-5"
							href="/campgrounds/<%= campground._id%>/edit"
							>Edit Campground</a
						>
						<a class="btn btn-secondary col-5" href="/campgrounds">Back</a>
					</div>
				</li>

				<form
					action="/campgrounds/<%= campground._id%>?_method=DELETE"
					method="post"
				>
					<li class="list-group-item">
						<button class="btn btn-danger col-8 offset-2">Delete</button>
					</li>
				</form>
			</div>
			<div class="card-footer text-muted">2 days ago</div>
		</div>
	</div>
	<div class="col-4">
		<p class="h2">Leave a review:</p>
		<form
			action="/campgrounds/<%= campground._id%>/reviews"
			method="post"
			class="mb-3 validated-form"
			novalidate
		>
			<div class="mb-3">
				<label class="form-label" for="rating">Rating</label>
				<input
					class="form-range"
					type="range"
					name="review[rating]"
					id="rating"
					min="1"
					max="5"
				/>
			</div>
			<div class="mb-3">
				<label class="form-label" for="body">Review</label
				><textarea
					class="form-control"
					name="review[body]"
					id="body"
					cols="30"
					rows="3"
					required
				></textarea>
			</div>
			<button class="btn btn-success">Submit</button>
		</form>
		<p class="h4">Reviews</p>
		<% for(let review of campground.reviews) {%>
		<div class="card mb-2">
			<div class="card-body">
				<div class="row">
					<div class="col-10">
						<p class="card-text">* <%= review.body %></p>
						<p class="card-text">Rating: <%= review.rating %></p>
					</div>
					<div class="col-2">
						<form
							action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE"
							method="post"
						>
							<button class="btn btn-sm">
								<span class="material-icons"> delete </span>
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<% } %>
	</div>
</div>
